@model System.Web.Mvc.HandleErrorInfo

<!Doctype html>

@{
    ViewBag.Title = "Ooops! The page wasn't found. Please come again";
}

<html>
    <head>
        <title>Error Page</title>
    </head>


    <body>
            <div class="alert alert-danger">@Html.ActionLink("Go back to homepage", "Index", "Home")</div>
    </body>

</html>