@{
    ViewBag.Title = "About";
}


<h2>@ViewBag.Title.</h2>

<p>
    Lorizzle ipsizzle dolizzle dang amizzle, phat things get down get down. Nullam sapien velit, aliquet volutpat,
    suscipit quizzle, shizznit vizzle, that's the shizzle.Pellentesque eget shizzlin dizzle. Boofron erizzle. Fusce
    bling bling ass dapibizzle turpis tempus rizzle. Maurizzle check it out nibh izzle . Sheezy that's the shizzle gizzle.
    Boofron eleifend rhoncizzle nisi. Get down get down hac habitasse daahng dawg dictumst. Own yo' dapibizzle.
    For sure tellizzle urna, bizzle fo shizzle my nizzle, mattizzle fo, shizznit shit, nunc. Away suscipit. Integer semper
    velit sizzle purus.
</p>
<p>
    Phasellizzle shiznit volutpat tellizzle. Ut semper adipiscing lorem. Fo shizzle my nizzle crazy est. Nulla sapizzle shit, ultricizzle
    funky fresh, accumsan vel, fermentizzle quizzle, ass. Shizzle my nizzle crocodizzle black ass. Shut the shizzle up i'm in the shizzle
    ornare ante. Check out this justo. Vestibulizzle ut pede varius doggy bling bling daahng dawg. Lorem izzle pizzle sizzle break it down,
    consectetizzle adipiscing bling bling. Shizznit ac shut the shizzle up. Gangster stuff izzle, sodalizzle owned, get down get down my
    shizz, fizzle a, fizzle.
</p>
<p>
    Bling bling rizzle leo yippiyo nisi. Pellentesque rhoncus, funky fresh nizzle malesuada facilisizzle, uhuh ... yih! fo shizzle mah nizzle
    fo rizzle, mah home g-dizzle that's the shizzle sizzle, non auctor nulla that's the shizzle check out this est. Suspendisse volutpat
    scelerisque augue. Shizzle my nizzle crocodizzle mammasay mammasa mamma oo sa sure izzle libero. Stuff my shizz blandizzle sapien.
    Etiam yo mamma, diam fo shizzle amizzle check it out tincidunt, leo sizzle crunk sizzle, ac vestibulum erat nisi ghetto mah nizzle
    phat. Go to hizzle hendrerizzle tortor uhuh ... yih! tellivizzle. Phasellus lobortizzle. Nulla lectus lacus, convallizzle we gonna
    chung, aliquizzle sit i'm in the shizzle, da bomb egestizzle, augue. Fizzle convallis. Fo shizzle ante ipsizzle owned away faucibizzle
    orci sheezy fo shizzle mah nizzle fo rizzle, mah home g-dizzle ultrices posuere cubilia Curae; eu elit eu boofron bibendizzle phat.
    Fusce est fizzle, shit vel, fo shizzle vizzle, commodo shizzlin dizzle, nisi. Etiam feugiat, tortizzle egizzle boom shackalack fo
    shizzle my nizzle, lorem that's the shizzle shizznit phat, you son of a bizzle viverra mi go to hizzle i'm in the shizzle go to hizzle.
</p>