@model IEnumerable<CrowdSub.Models.request>

@{
    ViewBag.Title = "All Requests";
}

<h2>All Requests</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Video Type</th>
            <th>Subtitle Type</th>
            <th>Upvotes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Batman</td>
            <td>Movie</td>
            <td>Hearing impaired</td>
            <td>13544</td>
        </tr>
        <tr>
            <td>Superman</td>
            <td>Movie</td>
            <td>Extended</td>
            <td>1337</td>
        </tr>
        <tr>
            <td>Spiderman Comics</td>
            <td>TV Show</td>
            <td>Hearing impaired</td>
            <td>124</td>
        </tr>
    </tbody>
</table>
