@model CrowdSub.Models.SearchModel

@{
    ViewBag.Title = "Welcome to Crowd Sub";
    
}

@{
    ViewBag.Message = "A crowd sourcing subtitle page where you can search for and download/upload or edit a subtitle in just a few easy steps.";
}

<div class="welcome_message">
   
</div>


    <div class="col-md-4">
        @using (Html.BeginForm("index", "Home", FormMethod.Post))
        {
            @Html.TextBox("search", "Search by title")
            <input type="submit" value="Search" />
        }
    </div>

