@model IEnumerable<CrowdSub.Models.top_downloads_model>

@{
    ViewBag.Title = "Recent";
}

<h2>Recent Uploads</h2>


<div>
    <button type="button">All</button>
    <button type="button">Movie</button>
    <button type="button">TV Show</button>
    <button type="button">Other</button>
</div>

<table border="1" style="width:50px">
    <thead>
        <tr>
            <th>Title</th>
            <th>Video Type</th>
            <th>Subtitle Type</th>
            <th>Subtitle Language</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>

       <!--needs to search the most recent uploads by date created-->
      @*@foreach (var item in Model)
      {
          <tr>
              <td>@item.video.video_title</td>
              <td>@item.video.video_type</td>
              <td>@item.subtitles.subtitle_language</td>
              <td>@item.subtitles.subtitle_date_created</td>
          </tr>
      }
    </tbody>*@
</table>

