
@{
    ViewBag.Title = "Recent";
}

<h2>Recent Uploads</h2>

<button type="button">All</button>
<button type="button">Movie</button>
<button type="button">TV Show</button>
<button type="button">Other</button>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Video Type</th>
            <th>Subtitle Type</th>
            <th>Subtitle Language</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Batman</td>
            <td>Movie</td>
            <td>Hearing impaired</td>
            <td>English</td>
            <td>05.05.2014</td>
        </tr>
        <tr>
            <td>Superman</td>
            <td>Movie</td>
            <td>Hearing impaired</td>
            <td>Icelandic</td>
            <td>04.04.2014</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>Movie</td>
            <td>Hearing impaired</td>
            <td>English</td>
            <td>03.03.2014</td>
        </tr>
    </tbody>
</table>

