<!--Something?-->

@{
    ViewBag.Title = "Could not be found";
}

<h2>Could not be found</h2>
<p>The video profile you were looking for could not be found. You can create the video profile here </p> <!--Html.ActionLink("here", "create_video", "Video")-->


