@model CrowdSubMain.Models.subtitle_view_model_download

@{
    ViewBag.Title = "Hey man these are the subtitles, they are pretty cool";
}

<h2>Available subtitles</h2>

@foreach (var subtitle in Model.subtitles)
{
    <p>@Html.ActionLink(subtitle.subtitle_file_name, "download", "Subtitle", new { file_path = subtitle.subtitle_file_path, file_name = subtitle.subtitle_file_name }, null)</p>
}

