@{
    ViewBag.Title = "About Crowd Sub";
}



<p>This project is the art of group 12. Members are Anton Vilhelm Ásgeirsson, Arnar Dóri Ásgeirsson, Björn Halldór Helgason, Gunnar Marteinsson, Ómar Óskarsson and Snæbjörn Þórir Eyjólsson.
We want to say special thanks to our mentor Daníel Máni Jónsson.
</p>
