@{
    ViewBag.Title = "About Crowd Sub";
}



<div class="panel panel-default">
    <div class="panel-body">
        <div>
            This project is the art of group 12 of the 3 week course at Reykjavik University. Team members are Anton Vilhelm Ásgeirsson, Arnar Dóri Ásgeirsson, Björn Halldór Helgason, Gunnar Marteinsson, Ómar Óskarsson and Snæbjörn Þórir Eyjólsson.
        </div>
        <div>
            We want to say special thanks to our mentor Daníel Máni Jónsson.
        </div>
    </div>
</div>





