@{
    ViewBag.Title = "About Crowd Sub";
}



<p>This project is the art of group 12. Members are Anton Vilhelm Ásgeirsson, Arnar Dóri Ásgeirsson, Björn Halldór Helgason, Gunnar Marteinsson, Ómar Óskarsson and Snæbjörn Þórir Eyjólsson.
We want to say special thanks to our mentor Daníel Máni Jónsson.
</p>

<p>
    Lorizzle gizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle sit crunk, shit adipiscing elit. Nullizzle
     brizzle velizzle, gangsta volutpizzle, suscipizzle quizzle, doggy vizzle, shit. Pellentesque egizzle tortizzle.
     Sed erizzle. Izzle izzle dolor the bizzle sure tempizzle dizzle. Shizzle my nizzle crocodizzle gangsta mofo izzle
     turpizzle. Ass in tortor. Pellentesque eleifend rhoncizzle hizzle. In hizzle habitasse we gonna chung crunk.
     Donec dawg. Curabitizzle tellizzle urna, pretizzle daahng dawg, shizznit fizzle, eleifend vitae, sure. Tellivizzle
     boofron. Integer sempizzle velit shizznit purizzle.
</p>

<p>
    Phasellizzle yo mamma volutpizzle tellizzle. Izzle shizzlin dizzle adipiscing mah nizzle. Donizzle bizzle est.
     We gonna chung sapizzle mofo, its fo rizzle nec, accumsan vizzle, shizzle my nizzle crocodizzle fo shizzle, pede.
     Shiz nizzle libero. The bizzle check out this ornare shit. Mauris shut the shizzle up. Yippiyo that's the shizzle
     pede varius crazy commodo commodo. Izzle ipsizzle dolizzle sizzle fo, consectetizzle sizzle elit.
     Dang crackalackin shiz. Quisque fo shizzle mah nizzle fo rizzle, mah home g-dizzle we gonna chung, boofron izzle,
     mattizzle a, eleifend a, sizzle.
</p>