@{
    ViewBag.Title = "About Crowd Sub";
}

<div class="well well-lg">
    <div>
        <h3>This project is the art of group 12 of the 3 week course at Reykjavik University.</h3>
            <div>
                <h3>Team members are Anton Vilhelm Ásgeirsson, Arnar Dóri Ásgeirsson, Björn Halldór Helgason, Gunnar Marteinsson, Ómar Óskarsson and Snæbjörn Þórir Eyjólsson.</h3>
            </div>
            <div>
                <h3>We want to give special thanks to our mentor Daníel Máni Jónsson.</h3>
            </div>
    </div>
</div>


