@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Menntavegur 1<br />
    Anton Vilhelm Ásgeirsson <a href="mailto:antona13@ru.is">antona13@ru.is</a><br />
    Arnar Dóri Ásgeirsson <a href="mailto:arnara13@ru.is">arnara13@ru.is</a><br />
    Björn Halldór Helgason <a href="mailto:bjornh13@ru.is">bjornh13@ru.is</a><br />
    Gunnar Marteinsson <a href="mailto:gunnarmar13@ru.is">gunnarmar13@ru.is</a><br />
    Ómar Óskarsson<a href="mailto:omar13@ru.is">omar13@ru.is</a><br />
    Snæbjörn Þórir Eyjólsson <a href="snaebjorn13@ru.is">snaebjorn13@ru.is</a><br /> 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>



This project is the art of group 12. Members are Anton Vilhelm Ásgeirsson, Arnar Dóri Ásgeirsson, Björn Halldór Helgason, Gunnar Marteinsson, Ómar Óskarsson and Snæbjörn Þórir Eyjólsson.
We want to say special thanks to our mentor Daníel Máni Jónsson.
