@{
    ViewBag.Title = "Contact Us";
}
<h3>@ViewBag.Message</h3>

<table class="table table-hover">
        <thead>
            <tr>
                <th>Members</th>
                <th>@@</th>
            </tr>
        </thead>
        <tr>
            <td>Anton Vilhelm Ásgeirsson</td>
            <td><a href="mailto:antona13@ru.is">antona13@ru.is</a></td>
        </tr>
        <tr>
            <td>Arnar Dóri Ásgeirsson</td>
            <td><a href="mailto:arnara13@ru.is">arnara13@ru.is</a></td>
        </tr>
        <tr>
            <td>Björn Halldór Helgason</td>
            <td><a href="mailto:bjornh13@ru.is">bjornh13@ru.is</a></td>
        </tr>
        <tr>
            <td>Gunnar Marteinsson</td>
            <td><a href="mailto:gunnarmar13@ru.is">gunnarmar13@ru.is</a></td>
        </tr>
        <tr>
            <td>Ómar Óskarsson</td>
            <td><a href="mailto:omar13@ru.is">omar13@ru.is</a></td>
        </tr>
        <tr>
            <td>Snæbjörn Þórir Eyjólsson</td>
            <td><a href="snaebjorn13@ru.is">snaebjorn13@ru.is</a></td>
        </tr>
    </table>


<address>
    <strong>Address: </strong>Menntavegur 1<br />
    <strong>Mentor: Daníel Máni Jónsson</strong>   <a href="mailto:mani.jonsson@gmail.com">mani.jonsson@gmail.com</a><br />
    <strong>Instructor: Daníel Brandur Sigurgeirsson</strong> <a href="mailto:dabs@ru.is">dabs@ru.is</a>
</address>
