
@{
    ViewBag.Title = "FAQ";
}

<h2>Frequently Asked Questions</h2>

<p id="question1" class="questions">How to sign up?</p>
<p id="answer1" class="answers">You simply click "Register" button in the top right corner </p>

<p id="question2" class="questions">Can I download a subitle without signing in?</p>
<p id="answer2" class="answers">Yes ofcourse! But you cannot upload or edit a subtitle</p>

<p id="question3" class="questions">Is Snæjbörn smart?</p>
<p id="answer3" class="answers">No he is an idiot</p>

<p id="question4" class="questions">How do I edit a subtitle?</p>
<p id="answer4" class="answers">
    First you need to register/log in. Then you find the video profile by using
    the search bar. From there you can click on the desired subtitle and click
    "Edit subtitle" button.
</p>
