
@{
    ViewBag.Title = "Frequently Asked Questions";
}

@Scripts.Render("~/Scripts/faq.js")
<p id="question1" class="questions">How do I sign up?</p>
<p id="answer1" class="answers">You simply click the "Register" button in the top right corner.</p>



<p id="question2" class="questions">Can I download a subtitle without signing in?</p>
<p id="answer2" class="answers">Yes ofcourse! If you wish to edit or upload a subtile file you must be a registered user.</p>


<p id="question3" class="questions">How do I edit a subtitle?</p>
<p id="answer3" class="answers">
    First you need to register/log in. Then you find the video profile by using
    the search bar. From there you can click on the desired subtitle and click
    "Edit subtitle" button. If the video profile doesn't exist you can create one.
</p>



<p id="question4" class="questions">I can't find the video I'm looking for?</p>
<p id="answer4" class="answers">
    If you have already searched for the desired video and can't find it, you can log in, create a video profile and then upload subtile file or ask the community for one!
</p>



<p id="question5" class="questions">Is this service free?</p>
<p id="answer5" class="answers">
    Of course!
</p>
