
@{
    ViewBag.Title = "Frequently Asked Questions";
}

@Scripts.Render("~/Scripts/faq.js")
<p id="question1" class="questions">How do I sign up?</p>
<p id="answer1" class="answers">You simply click the "Register" button in the top right corner </p>



<p id="question2" class="questions">Can I download a subtitle without signing in?</p>
<p id="answer2" class="answers">Yes ofcourse! But you cannot upload or edit a subtitle</p>


<p id="question3" class="questions">How do I edit a subtitle?</p>
<p id="answer3" class="answers">
    First you need to register/log in. Then you find the video profile by using
    the search bar. From there you can click on the desired subtitle and click
    "Edit subtitle" button.
</p>



<p id="question4" class="questions"> Question 4</p>
<p id="answer4" class="answers">
    Answer 4
</p>



<p id="question5" class="questions"> Question 5</p>
<p id="answer5" class="answers">
    Answer 5
</p>



<p id="question6" class="questions"> Question 6</p>
<p id="answer6" class="answers">
    Answer 6
</p>



<p id="question7" class="questions">Question 7</p>
<p id="answer7" class="answers">
    Answer 7
</p>



<p id="question8" class="questions">Question 8</p>
<p id="answer8" class="answers">
    Answer 8
</p>


<!--I want to search for subtitles in more than one language , is it possible?
    -Yes it is, All you have to do is registering at our site. After you log in, you can select as many languages as
      you want in your user profile. From then on you can select that particular language set in the drop-down menu
      at the search page. Enjoy:)-->

<!---->