@model IEnumerable<CrowdSubMain.Models.subtitle>

@{
    ViewBag.Title = "Welcome to Crowd Sub";
}

@{
    ViewBag.Message = "";
}

<div class="well well-lg">
    <div>
        <h3>A crowd sourcing subtitle page where you can search for and download/upload or edit a subtitle in just a few easy steps.</h3>
    </div>
    <div>
        <h3>You can search for your desired subtitle in the search bar above.</h3>
    </div>
</div>
    