html, body {
    height : 100%;
    width : 100%;
}

div {
    display : block;
}

/* Hide the original srt textarea */
#srt {
    visibility : hidden;
}

#srt-select {
    height : 400px;
    overflow-y : scroll;
}