html, body {
    height : 100%;
    width : 100%;
}

div {
    display : block;
}

/* Hide the original srt textarea */
#srt {
    visibility : hidden;
}

/* Make sure that the list group box
 * isn't too big. Ensures that it's 
 * scrollable.
 */
.list-group {
    height : 400px;
    overflow-y : scroll;
}