
@{
    ViewBag.Title = "Edit Subtitle";
}

<h2>Edit Subtitle</h2>

<h2>Terminator 2</h2>

<p>Version: Hearing impaired</p>
<p>Language: English</p>
<p>Content</p>
<textarea rows="50" cols="50">
    GJET TO DA CHOPPPAAA
</textarea>

<button type="submit">Save</button>

<p>Comments</p>

