/*body {
    padding-top: 50px;
    padding-bottom: 100px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



/*BEGIN NEW CSS*/

/*Main layout*/
body { 
/*This padding will keep the content from hitting the navbar*/
    padding-top: 75px; 
    padding-bottom: 100px;
}

#logo{
    float: left;
}

#navbar_fixed_top{
    height: 75px;
}

#search{
    padding: 9px;
    position: relative;
    left: 15%;
}

.message{
    color: #FFFFFF;
}

#search_bar{
    float:right;
}

#navlist{
    float: right;
}
#navlist li
{
    display: inline;
    list-style-type: none;
}

#navbar_links{
    padding-top: 15px;
}

/*MAIN LAYOUT END*/

/*Video Profile*/
#profile_info{
    padding-bottom: 20px;
}

#language{
    display: inline;
}

#file_upload{
    display: inline;
    padding-left: 20px;
}

#label_file{
    display: block;
    padding: 20px;
}

#edit_link{
    float: right;
    padding: inherit;
    padding-bottom: 15px;
}

#tabe_video_profile{
    clear: right;
}

#request_button{
    float: right;
}