body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#footer{
    background-color: #d5d5d5;
}

#bar_title{
    background-color: #1cb2b0;
    height: 75px;
    margin-top: 75px;
}

.message{
    color: #FFFFFF;
}

 #page_title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    color: #FFFFFF;
}

#page_message{
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
}

/*To make footer always at bottom*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}
#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#eeeeee;
}
/*END*/